{% extends "judgementapp/base.html" %}

{% block content %}

    <p>Relevation was created by <a href="http://koopman.id.au">Bevan Koopman</a> and Guido Zuccon, the system is designed to enable catpure relevance judgement for Information Retrieval system evaluation.</p>

    <p>Find more on the <a href="http://github.com/ielab/relevation">Github Relevation!</a> page.

<h3> Upute </h3>

<p>

Za svaku temu (Topic) potrebno je označiti relevantne dokumente. Za svaki dokument moguća je jedna od 3 ocjene relevantnosti:

<p/>

<ol>
<li> Relevantan (relevant) </li>
<li> Somewhat relevant (donekle relevantan) </li>
<li> Nerelevantan (Not relevant) </li>
</ol>

<p>
Prilikom ocjene relevantnosti potrebno je označiti dokument relevantnim ukoliko odgovara informacijskoj potrebi teme objašnjene narativom (topic narrative). Status važenja zakona nije bitan prilikom dodjele ocjene relevantnosti (nevažeci zakon može biti relevantan).
</p>

<p>

Dokumenti su inicijalno neoznačeni (Unjudged), a nakon označavanja trebaju svi imati ocjenu relevantnosti (koja nije Unjudged).
Dodatno, moguće je prilikom ocjene relevantnosti dokumenta pojasniti (ne)relevantnost u prozoru za komentar (Comment). 
Komentare nije uvijek potrebno stavljati, već samo ukoliko je odluka o (ne)relevantnosti potencijalno sporna. 
Nakon označavanja svih komentara teme potrebno je ocijeniti težinu označavanja teme (How hard was this topic to judge?) i tamo dodati komentare po želji.

</p>

{% endblock %}
